.front-page{
    background-image: url("Medilab/assets/img/hero-bg.jpg");
    height: 600px;
    width: auto;
    color: rgb(9, 9, 86);

}

.second:hover{
    background-color: rgb(76, 76, 246);
    color: white;
}
#btn:hover{
    background-color: rgb(64, 64, 238);
}
#side:hover{
    background-color: rgb(5, 5, 65);
}
